@charset "utf-8";
/*REAL CSS HOURS*/
*{
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color: #1a1a1a;
}
button{
    margin-bottom: 20px;
}
img{
    display: block
}